# Ambiente virtuale (non deve essere tracciato da Git)
venv/

# Variabili d'ambiente (file .env)
.env

# File temporanei di Python
__pycache__/

# File di log
*.log

# File di sistema di editor (es. VS Code, Sublime Text, ecc.)
.vscode/
.idea/
